
plots/Northern Sector pngs/TESSNorthernSectorTransparent4096fastest.gif
plots/TESS_Sector_12.png
plots/TESS_Sector_12_halfsize.psd
fitPD/TESS/params/params-mod-decoupled-cutoff-16.75-nparam-5-nwalk-100-nstep-21000prime.csv
